#cabeza { color:antiquewhite;
    background-color: black;
    text-align: center;
}
h1 { font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
img {
    width: 400px;
}
#thirdDiv { 
    height: 600px; 
    width: 500px; 
    background-color:darkcyan;
    padding: 50px;
    border: 7px solid darkblue;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
#spanId {
    font-size: 18px; 
    margin: 50px;
    color:antiquewhite;
    font-style: italic;
}
body 
{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/419/342/435/fire-meat-vegetables-steak-grill-hd-wallpaper-preview.jpg);
    background-repeat: no-repeat; 
    background-size: 100% 100%;
}
#abajo {
    background-color: black;text-align: center;
}
#nombre {
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
.flex-container { 
    display: flex;
}
.flex-container {
    width: 30px;
    height: 30px;
    margin: 5px;
    text-align: center;
}
